<div class="header">
    <div class="header-menu">
        <div class="title">Thông báo</div>
        <div class="slidebar-btn">
            <i class="fas fa-bars"></i>
        </div>
        <ul>
            <li><a href="/announce"><i class="fas fa-bell"></i></a></li> 
            <li><a href="/acc/logout" title="Đăng xuất"><i class="fas fa-power-off"></i></a></li>
        </ul>
    </div>
</div>